/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* General */

body, html {
    font-family: "Poppins", sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    width: 100vw;
    padding: 3rem;
    padding-bottom: 3rem;
    background-color: var(--light);
    color: var(--dark);
    transition: .25s ease-in-out;
    word-wrap: break-word;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-image: url(preloader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.nav-tag::after {
    content: '|';
    margin-left: .5rem;
    margin-right: .5rem;
}

.nav-brand-text {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--danger);
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 20px;
    margin-right: .7em;
    text-decoration: none;
    transition: .25s ease-in-out;
}

.nav-brand-text:hover {
    text-decoration: none;
    color: var(--danger);
    text-shadow: 0 0 5px #ff0000;
    transform: translateY(-1.5px);
}

.reg-btn {
    height: 43px;
    font-size: 15px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background: #f5365c;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4.5px;
    transition: .25s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: .5rem;
    margin-right: .5rem;
}

.reg-btn:hover {
    transform: translateY(-1px);
}

.login-btn {
    height: 45px;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    background: linear-gradient(-25deg,#1a1a1a, #636363);
    background-size: 225%;
    background-position: left;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4.5px;
    transition: .25s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: .5rem;
    margin-right: .5rem;
}

.login-btn:hover {
    background-position: right;
    transform: scale(1.02);
}

.nav-link {
    transition: .20s ease-in-out;
}

.nav-link:hover {
    border-bottom: var(--danger) 1px solid;
    transform: translateY(-1px);
}

@keyframes breath {
    from { 
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
}

#intro {
    background-image: url('https://cdn.minezone.hu/img/bg_main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: breath 5s ease-in-out alternate infinite;
}

#intro img {
    text-align: center;
    width: 400px;
    height: auto;
}

.intro-logo {
    height: 100px;
    width: auto;
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 4rem;
}

.hero-title strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 0 0 5px #ff0000;
    color: #eb3d34;
}

.hero-caption {
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    margin-bottom: 2rem;
}

.play-btn {
    height: 50px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    outline: none;
    border: none;
    border-radius: 50px;
    background: linear-gradient(-25deg, #ff2e2e, #ff582e);
    color: #fff;
    transition: .25s ease-in-out;
}

.play-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 15px 1px rgba(255,36,36,1);
}

.play-btn:focus,
.login-btn:focus,
.reg-btn:focus,
.webshop-btn:focus {
    outline: none;
}

.webshop-btn {
    height: 50px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    outline: none;
    border: none;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: .25s ease-in-out;
    margin-left: 1rem;
}

.webshop-btn:hover {
    background: #fff;
    color: var(--dark);
    transform: translateY(-2px);
}

.connect-title b {
    font-weight: 700;
}

.connect-caption {
    font-weight: 400;
    font-size: 20px;
}

.connect-card {
    background: #fff;
    width: 20em;
    height: 23em;
    border: 2px solid rgb(231, 231, 231);
    margin-top: 2rem;
    text-align: center;
}

.connect-card-header {
    padding: 1.5rem;
    padding-top: 2rem;
}

.connect-card-header h1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.connect-card-body h2 {
    text-align: left;
    font-size: 18px;
    color: var(--dark)
}

.connect-card-body {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

.connect-card-body b {
    font-weight: 700;
    background: -webkit-linear-gradient(-25deg, #fc4d3b, #9a3476);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#webshop {
    min-height: 30vh;
    background-image: url(./assets/kupola2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#webshop h1 {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}


/* Servers */

#servers-content h1 {
    font-size: 20px;
    font-weight: 300;
}

.server-card {
    height: auto;
    width: 20em;
    margin-top: 3rem;
}

.server-img img {
    height: auto;
    width: 100%;
}

.server-caption {
    padding: 1.5rem;
}

.server-title {
    font-size: 17px;
    font-weight: 700;
}

.server-since {
    font-size: 17px;
    color: var(--light);
}

.server-lore {
    margin-top: 1rem;
    font-weight: 300;
}

#servers-content b {
    color: var(--danger);
    font-weight: 700;
}

#contacts h1 {
    font-size: 20px;
    font-weight: 300;
}

.contact-card {
    background: #fff;
    height: 10rem;
    width: 25em;
    color: #fff;
    border-radius: 5px;
}

.contact-card i {
    font-size: 75px;
    padding: 3rem;
}

.contact-card-right h2 {
    font-size: 20px;
    margin-top: 2rem;
}

.contact-card-right i {
    font-size: 11px;
    padding: 0px;
}

.info-header {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.info-caption {
    margin: 0px;
    font-size: 17px;
    font-weight: 300;
}

.info-subtitle {
    font-size: 20px;
    font-weight: 700;
}

.hint-card {
    width: 16em;
    height: auto;
    background-color: var(--light);
    padding: 1.5rem;
}

.hint-title {
    color: var(--danger);
    font-size: 25px;
    font-weight: 700;
}

.hint-caption {
    color: var(--dark);
    font-weight: 300;
    font-size: 17px;
}

.red-gradient {
    font-size: 28px;
    background: -webkit-linear-gradient(-25deg, #fc4d3b, #9a3476);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#servers-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

#servers-content h2 {
    font-weight: 400;
    font-size: 20px;
}

#news {
    background: #fff;
}

.news-caption {
    font-size: 18px;
    text-align: center;
    margin-bottom: 2em;
}

.news-card {
    width: 34em;
    height: auto;
    background: linear-gradient(to top, #111, #444);
    color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 14em;
    margin-top: 1rem;
}

.news-date {
    border: 1px solid #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.news-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 1rem;
    text-align: bottom;
    font-size: 25px;
}

#news2 {
    background-image: url('https://cdn.minezone.hu/img/news2-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* COUNTERS */

.counter {
    font-size: 40px;
    color: var(--danger);
}

@media only screen and (max-width: 1190px) {
    .hero-title {
        margin-top: 0rem;
    }
    #webshop {
        height: auto;
    }
    .server-card {
        height: auto;
        width: 15em;
    }
    #intro {
        height: auto;
    }
    #intro img {
        margin-top: 1.5rem;
    }
    .news-card {
        width: 25em;
    }
}

@media only screen and (max-width: 990px) {
    .hero-title {
        font-size: 30px;
    }
    .hero-caption {
        font-size: 21px;
    }
    .connect-card {
        width: 18em;
        height: auto;
    }
    .connect-card-body {
        padding-bottom: 1.5rem;
    }
    .news-card {
        width: 25em;
    }
}

@media only screen and (max-width: 768px) {
    .reg-btn {
        margin-top: 1rem;
    }
    .login-btn {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 464px) {
    .hero-title {
        font-size: 20px;
    }
    .hero-caption {
        font-size: 15px;
    }
    .play-btn {
        margin-bottom: 1rem;
    }
    .webshop-btn {
        margin-left: 0px;
    }
    #intro {
        height: auto;
    }
    #intro img {
        width: 250px;
        height: auto;
    }
    .intro-logo {
        height: 50px;
        width: auto;
    }
    .news-card {
        width: 20em;
    }
}

@media only screen and (max-width: 375px) {
    .play-btn {
        height: 40px;
    }
    .webshop-btn {
        height: 40px;
    }
    .hero-caption {
        margin-bottom: .5rem;
    }
    #intro {
        height: auto;
    }
    .connect-card {
        width: 15em;
        height: auto;
    }
    .news-card {
        width: 15em;
    }
}

@media only screen and (max-width: 320px) {
    #intro {
        height: auto;
    }
    .server-card {
        width: 12em;
    }
    #intro img {
        width: 200px;
        height: auto;
    }
    .intro-logo {
        height: 30px;
        width: auto;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ff1414, #ff1457);
    border-radius: 10px;
}
